.App {
  text-align: center;
  background-color: #aaa;
}

.title {
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #aaa;
}

.App-header {
  position: relative;
  background-color: #fff;
  min-height: 100vh;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: 20px;
  padding: 0 1%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
